<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>iToken | 文章编辑</title>
<th:block th:include="includes/head :: head"></th:block>
<!--    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"/>-->
<!--    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css"/>-->
    <link rel="stylesheet" href="/jquery-scrollbar/jquery.scrollbar.css"/>
    <link rel="stylesheet" href="/nth-tabs/css/nth.tabs.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:include="includes/emue :: emue"></th:block>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="nth-tabs" id="editor-tabs"></div>
    </div>

    <th:block th:include="includes/copyright :: copyright"></th:block>
</div>
<th:block th:include="includes/body :: body"></th:block>
<script src="/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/nth-tabs/js/nth.tabs.min.js"></script>
<script src="/nth-tabs.js"></script>
<script>
    $(function () {
        NthTabs.home("/index");
    });
</script>
</body>
</html>